.news{
    padding: 10px;
    margin-top: 20px;
    background-color: #5b5b5b;
    border-radius: 10px;
}

.newsTitleDate{
    display: flex;
    justify-content: space-between;
}

.newsTitle{
    text-transform: capitalize;
    font-size: 20px;
}

.newsDate{
    font-size: 18px;
}

.newsContent{
    width: 100%;
    font-size: 16px;
    line-height: 1.2;
    margin-top: 5px;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 4;
    -webkit-box-orient: vertical;
}
